In [17]:
import pandas as pd
import numpy as np

storeframe = pd.DataFrame({
                           'unit price' : [1000,280,900],
                           'number' :[25,120,30]
                          },index = ['store1','store2','store3'])
storeframe

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [19]:
storeframe["total price"] = storeframe["unit price"]*storeframe["number"]

storeframe

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [20]:
max = np.max(storeframe["total price"])
storeframe[storeframe["total price"] == max]

        unit price  number  total price
store2         280     120        33600